<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %message%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.gargoylesoftware.htmlunit" level="ERROR" />
    <logger name="org.openqa" level="INFO" />
    <logger name="org.selenium" level="WARN" />
    <logger name="edu.uci.ics.crawler4j.crawler" level="INFO" />

    <!-- launchpad - our service -->
    <logger name="com.baeldung" level="DEBUG" />

    <!-- root -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>